# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [2]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

a = [1, 2, 3, 4, 5, 6]
print(a[3:])

[4, 5, 6]

In [3]:
# create a list of numbers from 1 to 20

list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

for even_numbers in list(range(0,101,2)):
    print(even_numbers,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [5]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

5/4

1.25

In [6]:
# write a function that takes a string as input
# and return that string in all caps

"string".upper()

'STRING'

In [7]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for n in range(1,31): print("Fizz"*(n%3==0) + "Buzz"*(n%5==0) or n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [8]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

ahmos_menu_pricing = {"Gyro":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}

In [9]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd
starbucks = pd.read_csv("../data/starbucks.csv")
type(starbucks)

pandas.core.frame.DataFrame

In [11]:
# output the calories, sugars, and protein columns only of every 40th row.

starbucks.iloc[::40,[3,11,12]]

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [ ]:
# select all rows with more than and including 400 calories

starbucks.loc[starbucks['calories'] >= 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

starbucks.loc[(starbucks['vitamin c'] > starbucks['iron'])]

In [ ]:
# create a new column containing the caffeine per calories of each drink

starbucks["caffeine_per_calories"] = starbucks["caffeine"] / starbucks["calories"]
starbucks.head()

In [ ]:
# what is the average calorie across all items?
starbucks['calories'].mean()

In [ ]:
# how many different categories of beverages are there?

len(pd.unique(starbucks['beverage_category']))

In [14]:
# what is the average # calories for each beverage category?

starbucks_grouped = starbucks.groupby('beverage_category')
starbucks_grouped["calories"].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64